/* for id put hash #, for class put dot(.) */

#plot_container_first {
    height: 370px;
    width: 100%;
    float: left;
}

#plot_container_second {
    height: 370px;
    width: 100%;
    float: left;
}

.plot_container_plotly {
    height: 500px;
    width: 500px;
    float: left;
}

#a_vs_i_q_plot_line {
    height: 370px;
    width: 100%;
    float: left;
}

#xn_vs_yn_plot_line {
    height: 370px;
    width: 100%;
    float: left;
}

#all_button {
    /* height: 100%; */
    width: 100%;
    float: left;
    z-index: 1;
    background-color: black;
    top: 0;
    left: 0;
}

#test_button {
    padding: 5px 5px;
    float: left;
    background-color: #4CAF50;
}

.shutdown_server {
    padding: 5px 5px;
    float: left;
    background-color: #db0b0b;
}

#goto_table {
    padding: 5px 5px;
    float: left;
    background-color: #dbcd0b;
}

#goto_table_vanilla {
    padding: 5px 5px;
    float: left;
    background-color: #5b0bdb;
}

#dropdown_var {
    padding: 5px 5px;
    float: left;
    padding: 10px;
    background-color: #dbcd0b;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}