/* for id put hash #, for class put dot(.) */

#test_button{
    padding: 5px 5px;
    float:left;
    padding: 10px;
    background-color: #4CAF50;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    /* outline: 0.5px solid rgb(163, 6, 6); */
    /* outline-offset: 2px; */
}

.shutdown_server{
    padding: 5px 5px;
    float:left;
    padding: 10px;
    background-color: #db0b0b;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#goto_table{
    padding: 5px 5px;
    float:left;
    padding: 10px;
    background-color: #dbcd0b;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}