.test_table {
    float: left;
    margin-right: 20px;
}

.test_table td,
.test_table th {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.test_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.test_table tr:hover {
    background-color: #ddd;
}

.test_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.table_button {
    background-color: #515151;
    color: white;
}

.table_button:hover {
    background-color: #707070;
}

.table_button:active {
    background-color: #aaa;
}

#table_div_child {
    background-color: red;
}

#table_div {
    float: left;
    z-index: 0;
    position: absolute;
    margin-top: 50px;
    background-color: #dfd117f5;
}

.family_table_class {
    float: left;
    background-color: #2522bb;
}

.parent_table_class {
    background-color: #b125b1;
}

.child_table_class {
    float: left;
    background-color: red;
}

.family_dropdown_class {
    float: left;
    background-color: rgb(221, 233, 229);
    z-index: 100;
    display: none;
}

#all_button {
    /* height: 100%; */
    width: 100%;
    float: left;
    z-index: 1;
    background-color: black;
    top: 0;
    left: 0;
}

.goto_plot {
    padding: 5px 5px;
    float: left;
    padding: 10px;
    background-color: #4CAF50;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

#goto_table {
    padding: 5px 5px;
    float: left;
    padding: 10px;
    background-color: #adaf4c;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

#goto_table_vanilla {
    padding: 5px 5px;
    float: left;
    padding: 10px;
    background-color: #4e4caf;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

.shutdown_server {
    padding: 5px 5px;
    float: left;
    padding: 10px;
    background-color: #db0b0b;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

#update_dict {
    height: 100%;
    /* width: 100%; */
    float: right;
    display: none;
    background-color: red;
    position: relative;
    z-index: 10;
}

.button {
    border: none;
    /* background-color: inherit; */
    background-color: blue;
    padding: 15px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

#tabular_table_div {
    /* height: 100%; */
    width: 100%;
    z-index: 0;
    position: absolute;
    float: left;
    margin-top: 20px;
}

#example-table {
    float: left;
}

#example-table_1 {
    float: left;
}

#example-table_2 {
    float: left;
}


/* Green */

.success {
    color: yellow;
    float: right;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}

div.dataTables_wrapper {
    margin-bottom: 3em;
}