.test_table {
    float: left;
    margin-right: 20px;
}

.test_table td,
.test_table th {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.test_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.test_table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.test_table caption {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.test_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: maroon;
    color: white;
}

.table_button {
    background-color: #515151;
    color: white;
    /* display: none; */
}

.test_table tr:hover {
    background-color: #ddd;
}

.table_button {
    background-color: #515151;
    color: white;
}

.table_button:hover {
    background-color: #707070;
}

.table_button:active {
    background-color: #aaa;
}

#table_div_child {
    background-color: red;
}

#table_div {
    float: left;
    z-index: 0;
    /* position: absolute; */
    position: static;
    /* margin-top: 80px; */
    /* background-color: #304a56; */
    padding-left: 10px;
}

.family_table_class {
    float: left;
    /* background-color: #2522bb; */
}

.parent_table_class {
    background-color: white;
}

.child_table_class {
    float: left;
    background-color: white;
}

.family_dropdown_class {
    float: left;
    background-color: rgb(221, 233, 229);
    z-index: 100;
    display: none;
}

#goto_table_vanilla_specific {
    padding: 5px 5px;
    float: left;
    padding: 10px;
    background-color: #4e4caf;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

.button {
    border: none;
    /* background-color: inherit; */
    background-color: blue;
    padding: 15px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}


/* Green */

.success {
    color: yellow;
    float: right;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}


/* video pannel */

#video {
    float: left;
    background-color: red;
    z-index: 0;
    position: fixed;
    /* margin-top: 100px; */
    left: 1150px;
    /* width: 400px;
    height: 400px; */
}