<!DOCTYPE HTML>
<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-heatmap.min.js"></script>

    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    <!-- <meta http-equiv="refresh" content="3"> -->
    <!-- addition or writing of JS file also possible here but better to do at the end of body tag. After body tag. -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/plot.css') }}">

    <title>Visualization of Machine Data</title>
</head>


<body style="margin-top: 0">
    <div id="all_button">
        <div id='test_button'>
            <!-- <h3>Update JSON data</h3> -->
            <form>
                <a href=# id=test><button class='btn btn-default'>Update JSON data</button></a>
            </form>
        </div>

        <div id='goto_table'>
            <form method="get" action="{{url_for('table')}}">
                <button>Show Table</button>
            </form>
        </div>

        <div id='goto_table_vanilla'>
            <form method="get" action="{{url_for('vanilla_js_table')}}">
                <button>Show  Vanilla Table</button>
            </form>
        </div>

        <div class='shutdown_server'>
            <!-- <h3>Stop Server</h3> -->
            <form>
                <a href=# id=shutdown><button class='btn btn-default'>Shutdown Server</button></a>
            </form>
        </div>
    </div>

    <div id="plot_container_first" style="margin-top: 45px"></div>
    <div id="plot_container_second"></div>

    <div id="a_vs_i_q_plot_line" class="plot_container_plotly"></div>
    <div id="xn_vs_yn_plot_line" class="plot_container_plotly"></div>
    <div id="i_vs_q_plot_line" class="plot_container_plotly"></div>
    <div id="i_vs_q_plot_scatter" class="plot_container_plotly"></div>

    <div id="i_vs_q_2D_hist" class="plot_container_plotly"></div>


    <!-- <div class="card-body">
      <a href="/exec"> This link will invoke Parse method </a>
   </div> -->

    <script src="static/js/plot_graph.js"></script>
    <script src="static/js/python_button.js"></script>
    <!-- <script src="static/js/build-table.js"></script> -->

    <!--
the following lines has done for loading different JS file in one html file.
it is not possible to add multiple JS file if they have same function name.
So, in JS file function name or declaration has changed. it is also possible to add
all the functionality of JS file directly in the HTML file. Add all code inside of the head tag.

window.onload = function() {
/* ALL JS code*/
}
-->
    <script>
        window.onload = setInterval(getData_json, 500);
        python_button_function();
        stop_flask_server();
    </script>
</body>

</html>