<!DOCTYPE HTML>
<html>

<head>

    <title>Visualization of Machine Data</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-heatmap.min.js"></script>

    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    <!-- <meta http-equiv="refresh" content="3"> -->
    <!-- addition or writing of JS file also possible here but better to do at the end of body tag. After body tag. -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/plot.css') }}">
</head>


<body style="margin-top: 0;">
    <nav class="navbar navbar-default navbar-fixed-top" style="height: 65px; background-color: #c4442b">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-top:0">
                <a class="navbar-brand" target="_blank" rel="noopener noreferrer" href="https://ubuntu.com/">
                    <img src="{{url_for('static', filename='ubuntu_logo.png')}} " class="img-fluid" style="max-height: 35px;">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="btn btn-light navbar-btn">
                        <a href="{{url_for('vanilla_js_table')}}" >Table</a>
                    </button>
                </li>
                <li>
                    <button class="btn btn-light navbar-btn">
                        <a href="{{url_for('test_post')}}" >POST</a>
                    </button>
                </li>
                <li>
                    <button class="btn btn-light navbar-btn">
                        <a href="{{url_for('render_table_from_db')}}" >Table_DB</a>
                    </button>
                </li>
                <li>
                    <button class="btn btn-light navbar-btn">
                        <a href="{{url_for('render_json_for_form')}}" >Json Form</a>
                    </button>
                </li>
                <!-- <li class="active"> -->
                <li>
                    <button class="btn btn-light navbar-btn">
                        <a href=# id=shutdown>Shutdown</a>
                    </button>
                </li>
            </ul>
        </div>
    </nav>

    <div id="plot_container_first" style="margin-top: 70px"></div>
    <div id="plot_container_second"></div>

    <div id="a_vs_i_q_plot_line" class="plot_container_plotly"></div>
    <div id="xn_vs_yn_plot_line" class="plot_container_plotly"></div>
    <div id="i_vs_q_plot_line" class="plot_container_plotly"></div>
    <div id="i_vs_q_plot_scatter" class="plot_container_plotly"></div>

    <div id="i_vs_q_2D_hist" class="plot_container_plotly"></div>


    <!-- <div class="card-body">
      <a href="/exec"> This link will invoke Parse method </a>
   </div> -->

    <script src="static/js/plot_graph.js"></script>
    <script src="static/js/python_button.js"></script>
    <!-- <script src="static/js/build-table.js"></script> -->

    <!--
the following lines has done for loading different JS file in one html file.
it is not possible to add multiple JS file if they have same function name.
So, in JS file function name or declaration has changed. it is also possible to add
all the functionality of JS file directly in the HTML file. Add all code inside of the head tag.

window.onload = function() {
/* ALL JS code*/
}
-->
    <script>
        window.onload = setInterval(getData_json, 500);
        python_button_function();
        stop_flask_server();
    </script>
</body>

</html>