<!DOCTYPE html>
<html lang="en">

<head>
    <title>JSON Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

</head>

<body id="body" style="margin-top: 0">
    <nav class="navbar navbar-default navbar-fixed-top" style="height: 65px; background-color: #c4442b">
        <div class="container-fluid">
            <div class="navbar-header" style="margin-top:0">
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top:100px;">
        <label for="combination">make combination:</label>
        <select name="device_n" id="device_n" class="selectpicker">
            <option selected="selected" class="grey_color">select device</option>
        </select>
        <select name="name_n" id="name_n" class="selectpicker" multiple>
           <!-- <option selected="false" disabled="disabled" class="grey_color"></option>-->
            
            </select>
        <select name="value_n" id="value_n" style="display:none"></select>
    </div>

    <script src="static/js/json_for_form.js "></script>
    <script src="static/js/python_button.js "></script>
    <script>
        // setTimeout(get_json_for_form, 5000);
        get_json_for_form();
        stop_flask_server();
    </script>

</body>

</html>