<!DOCTYPE html>
<html lang="en">

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

    <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <meta charset="UTF-8">
    <title>Build a table</title>
</head>

<body id="body">

    <div id="all_button">
        <div class='goto_plot' style='float: left;'>
            <form method="get" action="{{url_for('index')}}">
                <button> Show Plot </button>
            </form>
        </div>

        <div class='shutdown_server' style='float: left;'>
            <form>
                <a href=# id=shutdown><button class='btn btn-default'>Shutdown Server</button></a>
            </form>
        </div>
        <button name="do_hide" class="button success">☰ Open Sidebar</button>
        <!-- <button name="do_hide" type="button" class="button button2" text="Hide Me"></button>☰ Open Sidebar</button> -->
    </div>

    <div id="table_div"></div>

    <!-- <div id="dropdown_var">
        <form method="POST">
            <label for="var">Choose a variable:</label>
            <select name="var" id="varselect" style="margin-right: 20px;" onchange="get_val()"></select>
            <br>
            <label for="vars">Choose a value (-100 to 100):</label>
            <input type="number" id="varvalue" name="value" min="-100" max="100">
            <input type="submit" value="Submit" style="display:block;">
        </form>
    </div> -->

    <br />
    <br />

    <div id="update_dict">
        <label for="var">Choose a variable new:</label>
        <select name="var" id="varselect" style="margin-right: 20px" onchange="get_val()"></select>
        <br />

        <label for="vars">Choose a value (-100 to 100) new:</label>
        <input type="number" id="varvalue" name="value" min="-100" max="100" />
        <button onclick="updatedata()">Click me New</button>
        <button onclick="submitPOST()">Submit new</button>
    </div>

    <div id="example-table" style="float: left;">
        <!-- <h1>Hi I am the panda</h1> -->
    </div>

    <script src="static/js/build-table.js "></script>
    <script src="static/js/python_button.js "></script>
    <script src="static/js/get_vars.js "></script>

    <script>
        // setInterval(getTableData_json, 1000);
        setInterval(table_with_tabular, 1000);
        get_dropdown();
        stop_flask_server();
    </script>

</body>

</html>